openapi: 3.1.0

info:
  title: pi-reservation-system API
  version: 0.1.0
  description: |
    폐쇄망 기반 좌석 예매 시스템 API.

    **이 파일이 계약의 진실이다.** 구현이 이걸 따르는지 CI 가 검사한다 (`api.md` 부록 A.4).

    - 설계 근거 · 상태 머신 — `docs/api.md` · `docs/data.md`
    - **SSE 계약은 여기 없다** — `text/event-stream` 은 OpenAPI 로 표현되지 않는다.
      `docs/api.md` §6 이 진실이다 (부록 A.5).

servers:
  - url: https://api.jomin4.cloud/api/v1
    description: 운영
  - url: http://localhost:8080/api/v1
    description: 로컬

tags:
  - name: catalog
    description: 역 · 운행 · 좌석맵 조회 — 인증 불필요
  - name: holds
    description: |
      좌석 선점 — **인증 필수.**
      이 프로젝트가 증명하려는 것이 전부 여기 있다:
      **N개 요청이 같은 좌석을 동시에 노릴 때 정확히 1건만 `201` 을 받는다.**

paths:
  /stations:
    get:
      tags: [catalog]
      operationId: listStations
      summary: 역 목록 조회
      description: |
        시드 데이터라 바뀌지 않는다 (`F-01`).
        `lineSeq` 오름차순 = 상행 기준 노선 순서.
      security: []
      responses:
        '200':
          description: 역 목록
          headers:
            Cache-Control:
              description: 하루 캐시
              schema:
                type: string
                const: 'public, max-age=86400'
          content:
            application/json:
              schema:
                $ref: './components/catalog.yaml#/schemas/StationListResponse'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /trips:
    get:
      tags: [catalog]
      operationId: searchTrips
      summary: 운행 조회
      description: |
        구간 + 날짜로 운행을 찾는다 (`F-02`).

        - **결과가 없으면 `200` + 빈 배열이다.** `404` 가 아니다.
        - `availableSeats` 는 **Redis 캐시 근사값**이며 판정 근거가 아니다.
      security: []
      parameters:
        - $ref: './components/catalog.yaml#/parameters/From'
        - $ref: './components/catalog.yaml#/parameters/To'
        - $ref: './components/catalog.yaml#/parameters/Date'
        - $ref: './components/catalog.yaml#/parameters/Passengers'
      responses:
        '200':
          description: 운행 목록 (없으면 빈 배열)
          content:
            application/json:
              schema:
                $ref: './components/catalog.yaml#/schemas/TripListResponse'
        '400':
          $ref: './components/common.yaml#/responses/ValidationFailed'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /trips/{tripId}/seats:
    get:
      tags: [catalog]
      operationId: getSeatMap
      summary: 좌석 배치도 조회
      description: |
        운행 한 건의 좌석 상태 전체 (`F-03`).

        **응답의 `lastEventId` 가 SSE 구독 시작점이다.**
        좌석맵을 받고 SSE 를 붙이는 사이의 변경을 놓치지 않으려면
        이 값을 `Last-Event-ID` 로 넘긴다 (`api.md` §6.3).
      security: []
      parameters:
        - $ref: './components/common.yaml#/parameters/TripId'
        - $ref: './components/catalog.yaml#/parameters/CarNo'
      responses:
        '200':
          description: 좌석맵
          content:
            application/json:
              schema:
                $ref: './components/catalog.yaml#/schemas/SeatMapResponse'
        '404':
          $ref: './components/common.yaml#/responses/TripNotFound'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /holds:
    post:
      tags: [holds]
      operationId: createHold
      summary: 좌석 선점 — 전부 성공 또는 전부 실패
      description: |
        선택한 좌석을 10분간 잡는다 (`F-04`).

        - **부분 성공이 없다.** 한 좌석이라도 실패하면 전부 실패하고, 실패한 좌석은
          `409` 의 `failedSeats[]` 로 돌아온다 (`api.md` §4.7).
        - 동시 요청은 `trip_seat.id` 오름차순 `FOR UPDATE` 로 직렬화되고
          `lock_timeout` 200ms 를 넘으면 `SEAT_LOCK_TIMEOUT` 이다 (`data.md` §4 · ADR-0002).
        - 전이 **`TS-1`** ×N + **`SH-1`**

        멱등키는 **선택**이다. 재시도해도 좌석 상태가 진실이라 위험이 낮다 (`api.md` §2).
      parameters:
        - $ref: './components/common.yaml#/parameters/IdempotencyKey'
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/holds.yaml#/schemas/HoldRequest'
      responses:
        '201':
          $ref: './components/holds.yaml#/responses/HoldCreated'
        '400':
          $ref: './components/holds.yaml#/responses/BadHoldRequest'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '404':
          $ref: './components/common.yaml#/responses/TripNotFound'
        '409':
          $ref: './components/holds.yaml#/responses/SeatConflict'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /holds/{holdId}:
    parameters:
      - $ref: './components/common.yaml#/parameters/HoldIdPath'

    get:
      tags: [holds]
      operationId: getHold
      summary: 선점 조회
      description: |
        `POST /holds` 와 **같은 형태**를 준다 (`F-05`).

        ⚠️ **`expires_at` 이 지났으면 DB 가 아직 `HELD` 여도 `410` 이다** — lazy 만료 판정.
      responses:
        '200':
          description: 선점 정보
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: './components/holds.yaml#/schemas/HoldResponse'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '403':
          $ref: './components/holds.yaml#/responses/HoldNotOwned'
        '410':
          $ref: './components/holds.yaml#/responses/HoldExpired'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

    delete:
      tags: [holds]
      operationId: releaseHold
      summary: 선점 해제
      description: |
        좌석을 즉시 돌려놓는다 (`F-06`). 전이 **`TS-2`** ×N + **`SH-3`**

        ⚠️ **이미 만료·해제된 선점이어도 `204` 다.** `410` 을 주지 않는다 —
        "없애달라" 는 요청의 목적은 이미 달성됐다. **재시도가 에러가 되면
        클라이언트가 불필요한 분기를 갖는다** (`api.md` §5.2).
      responses:
        '204':
          description: '`204` — 해제됨. **멱등하다**'
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '403':
          $ref: './components/holds.yaml#/responses/HoldNotOwned'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

components:
  securitySchemes:
    bearerAuth:
      $ref: './components/common.yaml#/securitySchemes/bearerAuth'

security:
  - bearerAuth: []
