openapi: 3.1.0

info:
  title: pi-reservation-system API
  version: 0.1.0
  description: |
    폐쇄망 기반 좌석 예매 시스템 API.

    **이 파일이 계약의 진실이다.** 구현이 이걸 따르는지 CI 가 검사한다 (`api.md` 부록 A.4).

    - 설계 근거 · 상태 머신 — `docs/api.md` · `docs/data.md`
    - **SSE 계약은 여기 없다** — `text/event-stream` 은 OpenAPI 로 표현되지 않는다.
      `docs/api.md` §6 이 진실이다 (부록 A.5).

servers:
  - url: https://api.jomin4.cloud/api/v1
    description: 운영
  - url: http://localhost:8080/api/v1
    description: 로컬

tags:
  - name: catalog
    description: 역 · 운행 · 좌석맵 조회 — 인증 불필요
  - name: holds
    description: |
      좌석 선점 — **인증 필수.**
      이 프로젝트가 증명하려는 것이 전부 여기 있다:
      **N개 요청이 같은 좌석을 동시에 노릴 때 정확히 1건만 `201` 을 받는다.**
  - name: payments
    description: |
      결제 · 확정 — **인증 필수 · 2단계.**
      계약이 막는 것 둘: **금액 위변조**(`orderId`) · **이중 결제**(`Idempotency-Key`).
  - name: reservations
    description: |
      예약 관리 — **인증 필수.**
      경로 키가 **예약번호**다. 내부 `id` 를 노출하지 않는다.
  - name: auth
    description: |
      인증 · 회원.
      **실패 응답이 계정 존재 여부를 흘리지 않는 것**이 이 절의 판단 하나다.

paths:
  /stations:
    get:
      tags: [catalog]
      operationId: listStations
      summary: 역 목록 조회
      description: |
        시드 데이터라 바뀌지 않는다 (`F-01`).
        `lineSeq` 오름차순 = 상행 기준 노선 순서.
      security: []
      responses:
        '200':
          description: 역 목록
          headers:
            Cache-Control:
              description: 하루 캐시
              schema:
                type: string
                const: 'public, max-age=86400'
          content:
            application/json:
              schema:
                $ref: './components/catalog.yaml#/schemas/StationListResponse'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /trips:
    get:
      tags: [catalog]
      operationId: searchTrips
      summary: 운행 조회
      description: |
        구간 + 날짜로 운행을 찾는다 (`F-02`).

        - **결과가 없으면 `200` + 빈 배열이다.** `404` 가 아니다.
        - `availableSeats` 는 **Redis 캐시 근사값**이며 판정 근거가 아니다.
      security: []
      parameters:
        - $ref: './components/catalog.yaml#/parameters/From'
        - $ref: './components/catalog.yaml#/parameters/To'
        - $ref: './components/catalog.yaml#/parameters/Date'
        - $ref: './components/catalog.yaml#/parameters/Passengers'
      responses:
        '200':
          description: 운행 목록 (없으면 빈 배열)
          content:
            application/json:
              schema:
                $ref: './components/catalog.yaml#/schemas/TripListResponse'
        '400':
          $ref: './components/common.yaml#/responses/ValidationFailed'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /trips/{tripId}/seats:
    get:
      tags: [catalog]
      operationId: getSeatMap
      summary: 좌석 배치도 조회
      description: |
        운행 한 건의 좌석 상태 전체 (`F-03`).

        **응답의 `lastEventId` 가 SSE 구독 시작점이다.**
        좌석맵을 받고 SSE 를 붙이는 사이의 변경을 놓치지 않으려면
        이 값을 `Last-Event-ID` 로 넘긴다 (`api.md` §6.3).
      security: []
      parameters:
        - $ref: './components/common.yaml#/parameters/TripId'
        - $ref: './components/catalog.yaml#/parameters/CarNo'
      responses:
        '200':
          description: 좌석맵
          content:
            application/json:
              schema:
                $ref: './components/catalog.yaml#/schemas/SeatMapResponse'
        '404':
          $ref: './components/common.yaml#/responses/TripNotFound'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /trips/{tripId}/seat-events:
    get:
      tags: [catalog]
      operationId: subscribeSeatEvents
      summary: 좌석 변경 SSE 구독 — 계약의 진실은 api.md §6 이다
      description: |
        운행 1개의 좌석 변경을 실시간으로 받는다 (`F-16`).

        ⚠️ **여기 적힌 건 엔드포인트와 미디어 타입뿐이다** (`api.md` 부록 A.5).
        **이벤트 3종의 페이로드 · 재개 · 하트비트 규약은 `api.md` §6 이 진실이다** —
        `text/event-stream` 의 프레임 구조는 OpenAPI 에 표준 표현이 없다.
        억지로 스키마화하면 **생성 타입이 쓸모없어진다.**

        | 항목 | 값 |
        |---|---|
        | 인증 | **없음** — `EventSource` 가 커스텀 헤더를 못 보낸다 |
        | 구독 단위 | **운행 1개.** 호차 필터는 클라이언트가 한다 |
        | 재개 | `Last-Event-ID` → Redis Stream 재생 (`XADD MAXLEN ~ 1000`) |
        | 하트비트 | **15초 named event.** 클라 45초 무수신 시 재연결 |
        | 시작점 | `GET /trips/{tripId}/seats` 응답의 **`lastEventId`** |

        > **개인 알림을 여기 못 싣는다.** 비인증이라 서버가 "내" 를 모른다 —
        > 선점 만료 같은 건 **클라 타이머 + 서버 lazy 판정**으로 대체한다.
      security: []
      parameters:
        - $ref: './components/common.yaml#/parameters/TripId'
        - name: Last-Event-ID
          in: header
          required: false
          description: |
            마지막으로 받은 이벤트 ID. 재연결 시 SSE 표준 헤더로 자동 전송된다.
            **보관 범위를 벗어나면 `resume-failed` 이벤트**가 내려온다 —
            HTTP 에러가 아니다 (`api.md` §6.3).
          schema:
            type: string
            pattern: '^[0-9]+-[0-9]+$'
      responses:
        '200':
          description: |
            이벤트 스트림. **끊기지 않는다** — 정상 종료는 클라이언트가 닫을 때뿐이다.
          content:
            text/event-stream:
              schema:
                type: string
                description: '⚠️ **형식은 `api.md` §6 을 볼 것.** 여기서는 표현되지 않는다'
        '404':
          $ref: './components/common.yaml#/responses/TripNotFound'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /holds:
    post:
      tags: [holds]
      operationId: createHold
      summary: 좌석 선점 — 전부 성공 또는 전부 실패
      description: |
        선택한 좌석을 10분간 잡는다 (`F-04`).

        - **부분 성공이 없다.** 한 좌석이라도 실패하면 전부 실패하고, 실패한 좌석은
          `409` 의 `failedSeats[]` 로 돌아온다 (`api.md` §4.7).
        - 동시 요청은 `trip_seat.id` 오름차순 `FOR UPDATE` 로 직렬화되고
          `lock_timeout` 200ms 를 넘으면 `SEAT_LOCK_TIMEOUT` 이다 (`data.md` §4 · ADR-0002).
        - 전이 **`TS-1`** ×N + **`SH-1`**

        멱등키는 **선택**이다. 재시도해도 좌석 상태가 진실이라 위험이 낮다 (`api.md` §2).
      parameters:
        - $ref: './components/common.yaml#/parameters/IdempotencyKey'
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/holds.yaml#/schemas/HoldRequest'
      responses:
        '201':
          $ref: './components/holds.yaml#/responses/HoldCreated'
        '400':
          $ref: './components/holds.yaml#/responses/BadHoldRequest'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '404':
          $ref: './components/common.yaml#/responses/TripNotFound'
        '409':
          $ref: './components/holds.yaml#/responses/SeatConflict'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /holds/{holdId}:
    parameters:
      - $ref: './components/common.yaml#/parameters/HoldIdPath'

    get:
      tags: [holds]
      operationId: getHold
      summary: 선점 조회
      description: |
        `POST /holds` 와 **같은 형태**를 준다 (`F-05`).

        ⚠️ **`expires_at` 이 지났으면 DB 가 아직 `HELD` 여도 `410` 이다** — lazy 만료 판정.
      responses:
        '200':
          description: 선점 정보
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: './components/holds.yaml#/schemas/HoldResponse'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '403':
          $ref: './components/holds.yaml#/responses/HoldNotOwned'
        '410':
          $ref: './components/holds.yaml#/responses/HoldExpired'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

    delete:
      tags: [holds]
      operationId: releaseHold
      summary: 선점 해제
      description: |
        좌석을 즉시 돌려놓는다 (`F-06`). 전이 **`TS-2`** ×N + **`SH-3`**

        ⚠️ **이미 만료·해제된 선점이어도 `204` 다.** `410` 을 주지 않는다 —
        "없애달라" 는 요청의 목적은 이미 달성됐다. **재시도가 에러가 되면
        클라이언트가 불필요한 분기를 갖는다** (`api.md` §5.2).
      responses:
        '204':
          description: '`204` — 해제됨. **멱등하다**'
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '403':
          $ref: './components/holds.yaml#/responses/HoldNotOwned'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /holds/{holdId}/payment-intent:
    parameters:
      - $ref: './components/common.yaml#/parameters/HoldIdPath'

    post:
      tags: [payments]
      operationId: createPaymentIntent
      summary: 결제 세션 발급 — 금액을 서버가 정한다
      description: |
        결제창에 넘길 값을 발급하고 **`payment` 행을 `REQUESTED` 로 만든다**
        (전이 **`PM-1`**).

        ⚠️ **이 단계가 있는 이유가 금액 위변조 대조다.** `orderId` 와 `amount` 를
        서버가 못박아 두고, 다음 단계에서 클라이언트가 돌려준 값과 맞춰 본다.
        **클라이언트가 보낸 `amount` 를 그대로 믿지 않는다.**
      parameters:
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      responses:
        '200':
          $ref: './components/payments.yaml#/responses/PaymentIntentCreated'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '403':
          $ref: './components/holds.yaml#/responses/HoldNotOwned'
        '410':
          $ref: './components/holds.yaml#/responses/HoldExpired'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /holds/{holdId}/payment:
    parameters:
      - $ref: './components/common.yaml#/parameters/HoldIdPath'

    post:
      tags: [payments]
      operationId: confirmPayment
      summary: 결제 승인 + 예약 확정
      description: |
        토스 승인을 거쳐 예약을 확정한다 (`F-08` · `F-09`).

        **성공하면 5개 테이블이 한 트랜잭션에서 바뀐다** —
        전이 **`TS-4`** + **`SH-2`** + **`RV-1`** + **`PM-2`** (`data.md` §5.6).

        ⚠️ **`Idempotency-Key` 가 필수다.** 같은 키 · 같은 본문이면 **이전 결과를
        그대로 재생**하고 새 승인을 하지 않는다. 타임아웃 재시도가 이중 결제가
        되면 안 된다.

        ⚠️ **선점 실패가 `409` 가 아니라 `410` 인 유일한 경로다** —
        좌석을 뺏긴 게 아니라 **시간이 지난 것**이다.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          description: |
            ⚠️ **필수.** 화면 진입 시 1회 생성하고 재시도에도 같은 값을 쓴다.
            **모바일은 영속 저장해야 한다** — 앱이 죽으면 메모리 키가 사라지고
            그게 곧 이중 결제다 (`E-04`).
          schema:
            type: string
            format: uuid
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/payments.yaml#/schemas/PaymentConfirmRequest'
      responses:
        '201':
          $ref: './components/payments.yaml#/responses/ReservationConfirmed'
        '202':
          $ref: './components/payments.yaml#/responses/PaymentPending'
        '400':
          $ref: './components/payments.yaml#/responses/BadPaymentRequest'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '402':
          $ref: './components/payments.yaml#/responses/PaymentDeclined'
        '403':
          $ref: './components/holds.yaml#/responses/HoldNotOwned'
        '409':
          $ref: './components/payments.yaml#/responses/IdempotencyKeyReused'
        '410':
          $ref: './components/holds.yaml#/responses/HoldExpired'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

    get:
      tags: [payments]
      operationId: getPaymentResult
      summary: 결제 결과 조회 — 새 결제가 아니다
      description: |
        `E-03` 결제 타임아웃 때 **결과를 조회**한다.

        ⚠️ **메서드가 `GET` 인 게 계약의 핵심이다.**
        클라이언트가 이걸 `POST` 로 착각하면 **이중 결제가 난다.**
        화면은 "다시 결제" 버튼을 잠그고 이 호출만 `Retry-After` 주기로 돌린다.

        | 서버 판정 | 응답 |
        |---|---|
        | 확정됨 | `200` + 예약 정보 |
        | 아직 모름 | `202` + `Retry-After` |
        | 거절됨 | `402` |
        | 보상 취소됨 | `410` |
      parameters:
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      responses:
        '200':
          description: '`200` — 확정됨. `POST` 의 `201` 과 같은 본문'
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: './components/reservations.yaml#/schemas/Reservation'
        '202':
          $ref: './components/payments.yaml#/responses/PaymentPending'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '402':
          $ref: './components/payments.yaml#/responses/PaymentDeclined'
        '403':
          $ref: './components/holds.yaml#/responses/HoldNotOwned'
        '410':
          $ref: './components/holds.yaml#/responses/HoldExpired'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /reservations:
    get:
      tags: [reservations]
      operationId: listReservations
      summary: 내 예약 목록
      description: |
        회원 본인의 예약 이력 (`F-12`). 정렬 **`createdAt DESC`** 고정.

        - **취소분도 남는다** — `F-14` 는 삭제가 아니라 `CANCELLED` 전이다.
        - **진행 중인 선점은 여기 없다** — 선점은 예약이 아니다.
        - `COMPLETED` 는 **응답 시점에 파생**된다 (`data.md` §5.5).
      parameters:
        - $ref: './components/common.yaml#/parameters/Page'
        - $ref: './components/common.yaml#/parameters/Size'
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      responses:
        '200':
          description: 예약 목록
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: './components/reservations.yaml#/schemas/ReservationPage'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /reservations/{reservationNo}:
    parameters:
      - $ref: './components/common.yaml#/parameters/ReservationNoPath'

    get:
      tags: [reservations]
      operationId: getReservation
      summary: 예약 상세
      description: |
        경로 키가 **예약번호**다 (`F-12`). 내부 `id` 를 노출하지 않는다.

        ⚠️ **예약번호는 조회 열쇠가 아니다.** 남의 번호를 알아도 못 본다 —
        **로그인이 열쇠**다. 그래서 `403` 이지 `404` 가 아니다 (`api.md` §5.4).
      parameters:
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      responses:
        '200':
          $ref: './components/reservations.yaml#/responses/ReservationDetail'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '403':
          $ref: './components/reservations.yaml#/responses/ReservationNotOwned'
        '404':
          $ref: './components/reservations.yaml#/responses/ReservationNotFound'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /reservations/{reservationNo}/cancel:
    parameters:
      - $ref: './components/common.yaml#/parameters/ReservationNoPath'

    post:
      tags: [reservations]
      operationId: cancelReservation
      summary: 예약 취소 — DELETE 가 아니다
      description: |
        전이 **`TS-5`** (`SOLD`→`AVAILABLE`) + **`RV-2`** (+`PM-4` — `F-15` 는 P1).

        ⚠️ **`DELETE` 가 아니다.** 예약은 지워지지 않고 `CANCELLED` 로 전이한다 —
        **이력 보존이 요구사항**이다 (`F-14`).

        > 이 호출이 **해당 운행을 보고 있는 모든 화면에 SSE 로 좌석 복귀를 전파**한다
        > (`api.md` §6, `cause: RESERVATION_CANCELLED`).
        > 시연에서 가장 보여주기 좋은 장면이다.

        ⚠️ **P0 단계에서는 좌석만 돌아가고 결제는 그대로 남는다.**
        환불(`F-15`)은 P1 이다 — 화면은 "좌석이 반환되었습니다. 환불은 별도
        처리됩니다" 라고 솔직하게 적는다 (`W-10`).
      parameters:
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      responses:
        '200':
          description: '`200` — 취소됨. **갱신된 예약**을 준다 (`status: CANCELLED`)'
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: './components/reservations.yaml#/schemas/Reservation'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '403':
          $ref: './components/reservations.yaml#/responses/ReservationNotOwned'
        '404':
          $ref: './components/reservations.yaml#/responses/ReservationNotFound'
        '409':
          $ref: './components/reservations.yaml#/responses/ReservationNotCancellable'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /auth/signup:
    post:
      tags: [auth]
      operationId: signup
      summary: 회원가입
      description: |
        `F-20`. 비밀번호는 **BCrypt** 로 저장한다 (`data.md` §3).

        > **이메일 인증 · 비밀번호 재설정은 범위 밖이다** (`CLAUDE.md` 회원).
      security: []
      parameters:
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/auth.yaml#/schemas/SignupRequest'
      responses:
        '201':
          $ref: './components/auth.yaml#/responses/MemberCreated'
        '400':
          $ref: './components/common.yaml#/responses/ValidationFailed'
        '409':
          $ref: './components/auth.yaml#/responses/EmailAlreadyExists'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /auth/email-available:
    get:
      tags: [auth]
      operationId: checkEmailAvailable
      summary: 이메일 중복 확인 — 최종 판정이 아니다
      description: |
        `F-21`. **폼 편의용이다.**

        ⚠️ **`true` 를 받았어도 가입에서 `409` 가 날 수 있다.** 확인과 가입 사이에
        남이 채갈 수 있고, **진짜 판정은 DB unique 제약**이다.
        화면은 이 응답을 **가입 버튼 활성 조건으로 쓰되 결과로 믿지 않는다.**
      security: []
      parameters:
        - name: email
          in: query
          required: true
          schema:
            $ref: './components/auth.yaml#/schemas/Email'
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      responses:
        '200':
          description: 사용 가능 여부
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: './components/auth.yaml#/schemas/EmailAvailability'
        '400':
          $ref: './components/common.yaml#/responses/ValidationFailed'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /auth/login:
    post:
      tags: [auth]
      operationId: login
      summary: 로그인
      description: |
        `F-24`. Access 15분 + Refresh 14일.

        ⚠️ **자격 불일치는 `INVALID_CREDENTIALS` 하나뿐이다** —
        "없는 이메일" 과 "비밀번호 틀림" 을 나누면 **계정 존재 여부가 샌다.**

        ⚠️ **5회 실패면 `429` 다** (`F-36`). 영구 잠금이 아니라 **5분 뒤 자동 해제**다.
      security: []
      parameters:
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/auth.yaml#/schemas/LoginRequest'
      responses:
        '200':
          description: 토큰 쌍
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: './components/auth.yaml#/schemas/TokenPair'
        '400':
          $ref: './components/common.yaml#/responses/ValidationFailed'
        '401':
          $ref: './components/auth.yaml#/responses/InvalidCredentials'
        '429':
          $ref: './components/auth.yaml#/responses/TooManyAttempts'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /auth/refresh:
    post:
      tags: [auth]
      operationId: refreshToken
      summary: 토큰 갱신 — 회전 + 재사용 탐지
      description: |
        `F-26`. **Refresh 토큰 자체가 인증**이라 `Authorization` 헤더를 쓰지 않는다.

        **회전한다** — 이 호출이 성공하면 **보낸 Refresh 는 죽는다**
        (`data.md` §6.5 회전 6단계).

        ⚠️ **폐기된 토큰이 다시 오면 탈취로 본다.** 그 회원의 Refresh 를 **전부 폐기**하고
        `401` 을 준다. 밖에서는 만료와 구분되지 않는다 — **탐지 사실은 로그에만** 남는다.

        > **재사용 탐지 없는 회전은 회전의 절반만 하는 것이다.** 탈취범과 사용자가
        > 번갈아 회전하면 둘 다 무한히 갱신된다. **폐기된 `jti` 가 돌아오는 순간이
        > 유일한 탐지 기회다.**
      security: []
      parameters:
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/auth.yaml#/schemas/RefreshRequest'
      responses:
        '200':
          description: '**새** 토큰 쌍. 이전 Refresh 는 이 시점에 죽는다'
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: './components/auth.yaml#/schemas/TokenPair'
        '400':
          $ref: './components/common.yaml#/responses/ValidationFailed'
        '401':
          $ref: './components/auth.yaml#/responses/InvalidCredentials'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /auth/logout:
    post:
      tags: [auth]
      operationId: logout
      summary: 로그아웃
      description: |
        `F-25`. Redis 에서 **Refresh 를 지운다** (`DEL` + `SREM`).

        ⚠️ **Access 토큰은 최대 15분 더 산다** — 그게 무상태 JWT 의 대가다
        (`data.md` §6.5). 클라이언트는 저장된 토큰을 즉시 버려야 한다.
      parameters:
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      responses:
        '204':
          description: '`204` — 로그아웃됨'
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

  /me:
    get:
      tags: [auth]
      operationId: getMe
      summary: 내 정보 조회
      description: |
        `F-22`. **토큰이 주체를 정하므로 식별자가 경로에 없다.**
      parameters:
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      responses:
        '200':
          description: 회원 정보
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: './components/auth.yaml#/schemas/MemberProfile'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

    patch:
      tags: [auth]
      operationId: updateMe
      summary: 내 정보 수정 — 이름 · 연락처만
      description: |
        `F-22`. **비밀번호 변경 · 이메일 변경은 범위 밖이다** (`CLAUDE.md` 회원).

        > 여기서 이름을 바꿔도 **이미 만든 예약의 `passengerName` 은 안 변한다** —
        > 예약 시점 스냅샷이다 (`data.md` §3 `reservation`).
      parameters:
        - $ref: './components/common.yaml#/parameters/XRequestIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './components/auth.yaml#/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: 갱신된 회원 정보
          headers:
            X-Request-Id:
              $ref: './components/common.yaml#/headers/XRequestId'
          content:
            application/json:
              schema:
                $ref: './components/auth.yaml#/schemas/MemberProfile'
        '400':
          $ref: './components/common.yaml#/responses/ValidationFailed'
        '401':
          $ref: './components/common.yaml#/responses/Unauthenticated'
        '500':
          $ref: './components/common.yaml#/responses/InternalError'

components:
  securitySchemes:
    bearerAuth:
      $ref: './components/common.yaml#/securitySchemes/bearerAuth'

security:
  - bearerAuth: []
